
.container
{
    width: 100%;
    height: auto;
    display: grid;
    border: 2px solid rebeccapurple;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100px 1000px 750px 230px;
}

div>section:nth-child(1)
{
    grid-column: 1/3;
}
div>section:nth-child(2)
{
    grid-column-start: 1;
    grid-column-end: 3;
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+  */
    
    
}
div>section:nth-child(5)

{
    grid-column-start: 1;
    grid-column-end: 3;
    
} 

.nav{
    display: flex;
    /* border: 2px dotted black; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.nad{ 
    flex: 1;
    font-size: 20px;
    width: 100px;
    height: 100px;
    
    text-align:center;
    list-style-type: none;
    border: 1px solid rgb(83, 83, 228);
    padding-top: 20px;
    text-transform: uppercase;
    /* float: left; */
 
}
img{ width: 100% ;
     height: 100%;
}
.pht
{
    display: grid;
    grid-auto-columns: auto;
    gap: 1rem;
    grid-template-columns: repeat(3,minmax(100px,1fr));
    grid-auto-rows:300px;
    padding: 20px;
}
.cd
{
    grid-row: 1/3;
}




/*footer*/

/*///////////////////////////////////////////////////////////////////////////////////////////*/
div>section:nth-child(5)
        {
            padding-top: 15px;
            display: flex;
            height:100%;
            background-color: rgba(15, 31, 61,.9);
            color: wheat;
        }
        div>section>div
        {
/*          border: 1px solid blue;*/
            flex: 1;
            margin: 10px;
            padding: 10px;
        }

        .a
        {
            flex: .5;
        }
        ul{
            padding: 0px;
        }
        li{

            line-height: 25px;
            list-style-type: none;
        }
        li:hover
        {
                        color:whitesmoke ;
        }
        h3
        {
            margin: 0px;
         letter-spacing:4px;
         padding-bottom: 13px;
         
         }
         h3:hover
         {
                        color: whitesmoke;

         }
